.topPost{
    flex: 3;
    height: calc(50vh - 40px);
    overflow-y: scroll;
    position: sticky;
}

.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 10px 0;
    background-color: white;
  }
  .cardImg{
    padding: auto;
  }
  .topComment {
    flex: 3;
    height: calc(37vh - 40px);
    overflow-y: scroll;
    position: sticky;
}
.comment {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 10px 0;
  background-color: white;
}

  